* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
}

.nav {
    position: relative;
    width: 100%;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    overflow: hidden;
}

.nav .logo_container {
    flex-basis: 20%;
    height: 100%;
}

.nav .logo_container .logo {
    padding-top: 5%;
    padding-left: 10%;
    height: 90%;
}

.nav .title {
    flex-grow: 1;
    height: 100%;
    text-align: center;
}

.nav .title h1 {
    line-height: 12vh;
    font-family: 'Happy Monkey', cursive;
    color: rgb(214, 213, 133);
}

.nav .burger_container {
    flex-basis: 20%;
    height: 100%;
    text-align: center;
}

.nav .burger_container .burger {
    font-size: 1.8rem;
    line-height: 12vh;
    color: rgb(214, 213, 133);
    transition: .3s;
}

.active_burger {
    transform: rotate(90deg);
}

.nav .menu {
    position: fixed;
    top: 0vh;
    right: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom, rgb(68, 67, 67), black 30% 70%, rgb(68, 67, 67));
    z-index: 1;
    opacity: 0;
    display: none;
}

.nav .menu .exit_menu {
    position: absolute;
    top: 5%;
    right: 5vh;
    font-size: 2rem;
    color: white;
}

.nav .menu ul {
    height: 50%;
    margin-top: calc((88vh * 50 / 100) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav .menu ul li {
    flex-basis: 20%;
    text-align: center;
    list-style: none;
}

.nav .menu ul li a {
    line-height: calc(40vh / 5);
    font-size: 1.5rem;
    font-family: 'Happy Monkey', cursive;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.active_menu {
    display: block !important;
    opacity: 1 !important;
    animation: menuGrowUp .5s linear both;
}

.nav .menu ul li .active_menu_text {
    animation: showText .5s linear .5s both;
}

.main {
    width: 100%;
    background-image: url(images/bgc.jpg);
    overflow: hidden;
}

.main .header {
    width: 100%;
    height: 88vh;
}

.main .header .title {
    margin: 0 5%;
    padding: 10vh 0;
    width: 90%;
    text-align: center;
}

.main .header .title h1 {
    font-size: 2.3rem;
    font-family: 'Happy Monkey', cursive;
    color: white;
    text-shadow: 0 0 3px black;
    line-height: 10vh;
}

.main .header .arrows {
    margin-top: 10vh;
    position: relative;
    height: 15vh;
}

.main .header .arrows i {
    font-size: 60px;
    color: white;
}

.main .header .arrows .left_arrows {
    position: absolute;
    top: -50%;
    left: 20%;
    transform: translateY(-50%);
    animation: moveArrows 1s linear infinite both;
}

.main .header .arrows .right_arrows {
    position: absolute;
    top: -50%;
    right: 20%;
    transform: translateY(-50%);
    animation: moveArrows 1s linear infinite both;
}

hr {
    margin: 50px 10%;
    width: 80%;
    border: 1.5px solid rgb(104, 19, 19);
}

hr:nth-of-type(1) {
    margin-top: 0;
}

.main .center {
    text-align: center;
}

.main h2 {
    margin: 50px 0;
    font-size: 2.2rem;
    font-family: 'Staatliches', cursive;
    color: rgba(255, 255, 255, .8);
}

.main img {
    margin-bottom: 30px;
    width: 90%;
    box-shadow: 0 0 5px 2px white;
}

.main .active_img {
    transform: translate(0);
}

.main p {
    margin: 0 30px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    color: rgba(255, 255, 255, .7);
}

.main .active_p {
    transform: translate(0);
}

.main .our_quality {
    padding-bottom: 30px;
}

.footer {
    position: relative;
    width: 100%;
    height: 5vh;
    background-color: rgba(0, 0, 0);
    display: flex;
    text-align: center;
}

.footer .footer_logo {
    flex-basis: 33.3%;
    height: 100%;
}

.footer .footer_logo img {
    height: 80%;
    margin-top: 4%;
}

.footer .footer_title {
    flex-basis: 33.3%;
    line-height: 5vh;
    font-size: .8rem;
    color: rgb(214, 213, 133);
}

.footer .made_by {
    flex-basis: 33.3%;

}

.footer .made_by {
    line-height: 5vh;
    font-size: .5rem;
    color: rgb(214, 213, 133);
}

.footer .made_by span {
    font-size: .5rem;
    color: rgb(185, 15, 15);
}


@keyframes moveArrows {
    0% {
        top: 0%;
    }

    100% {
        top: 100%;
    }
}

@keyframes menuGrowUp {
    0% {
        opacity: 0;
        height: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        height: 100vh;
        width: 100%;
    }
}

@keyframes showText {
    0% {
        font-size: 0;
    }

    100% {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 350px) {
    .main .header .title h1 {
        font-size: 2rem;
    }

    .main h2 {
        font-size: 1.8rem;
    }

    .main p {
        font-size: 1rem;
    }

    .footer .made_by span {
        font-size: .4rem;
    }
}

@media screen and (min-width: 768px) {
    .nav .title h1 {
        font-size: 4.3rem;
    }

    .nav .burger_container .burger {
        font-size: 3.3rem;
    }

    .main .header .title h1 {
        font-size: 4rem;
    }

    .main .header .arrows i {
        font-size: 80px;
    }

    .main h2 {
        font-size: 3.5rem;
    }

    .main p {
        font-size: 2rem;
    }

    .footer .footer_title {
        font-size: 1.2rem;
    }

    .footer .made_by {
        font-size: 1rem;
    }

    .footer .made_by span {
        font-size: 1rem;
    }
}

@media screen and (orientation: landscape) and (min-height: 350px) {
    .nav .logo_container .logo {
        padding-left: 20%;
    }

    .nav .title h1 {
        line-height: 12vh;
    }

    .nav .burger_container .burger {
        line-height: 12vh;
    }

    .main .title h1 {
        padding: 5vh 0;
        font-size: 2.5rem;
    }

    .main .arrows {
        margin-top: 10vh;
    }

    .main h2 {
        font-size: 2.5rem;
    }

    .main img {
        width: 70%;
    }

    .main p {
        margin: 0 60px;
    }

    .footer {
        height: 8vh;
    }

    .footer .footer_logo img {
        margin-top: 2%;
    }

    .footer .footer_title {
        line-height: 8vh;
    }

    .footer .made_by {
        line-height: 8vh;
    }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
    .nav .logo_container {
        flex-basis: 10%;
        height: 100%;
    }

    .nav .logo_container .logo {
        padding-left: 20%;
    }

    .nav .title {
        flex-grow: 0;
        flex-basis: 40%;
        text-align: left;
    }

    .nav .title h1 {
        font-size: 3rem;
    }

    .nav .burger_container {
        display: none;
    }

    .nav .menu {
        position: relative;
        flex-grow: 1;
        height: 12vh;
        background: transparent;
        opacity: 1;
        display: block;
    }

    .nav .menu .exit_menu {
        display: none;
    }

    .nav .menu ul {
        height: 100%;
        margin-top: 0;
        margin-right: 5%;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav .menu ul li a {
        position: relative;
        line-height: 12vh;
        color: rgb(214, 213, 133);
    }

    .nav .menu ul li a:before {
        content: "";
        position: absolute;
        top: -5px;
        left: 50%;
        height: 3px;
        width: 0%;
        background-color: rgb(155, 11, 11);
    }

    .nav .menu ul li a:hover {
        animation: growUpText .5s both;
    }

    .nav .menu ul li a:hover:before {
        animation: growUpBorder .5s both;
    }

    .main h2 {
        font-size: 4.5rem;
    }

    .main img {
        float: left;
        margin-left: 15%;
        margin-right: 3%;
        margin-bottom: 1%;
        width: 35%;
    }

    .main p {
        font-size: 1.5rem;
        margin-left: 15%;
        margin-right: 15%;
        text-align: justify;
    }

    .main .our_quality {
        padding-bottom: 60px;
    }

    @keyframes growUpText {
        0% {
            font-size: 1.3rem;
        }

        100% {
            font-size: 1.7rem;
        }
    }

    @keyframes growUpBorder {
        0% {
            width: 0%;
            left: 50%;
        }

        100% {
            width: 100%;
            left: 0;
        }
    }
}

@media screen and (orientation: landscape) and (min-width: 1440px) {
    .nav .menu {
        padding-right: 10%;
    }

    .main .header .arrows i {
        font-size: 120px;
    }

    .main h2 {
        font-size: 5rem;
    }

    .main p {
        font-size: 1.8rem;
    }

    .main .our_quality {
        padding-bottom: 80px;
    }

    .footer .footer_title {
        font-size: 1.8rem;
    }

    .footer .made_by {
        font-size: 1.3rem;
    }

    .footer .made_by span {
        font-size: 1.3rem;
    }
}